In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel('marketing_customer_analysis.xlsx')

display(data.shape)
display(data.head())

(10910, 26)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0.0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1.0,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2.0,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2.0,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3.0,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4.0,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7.0,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [3]:
display(data.columns)

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [4]:
data2 = data.copy()

cols = []
for column in data2.columns:
    cols.append(column.lower().capitalize().replace(" ","_"))
data2.columns = cols  

data2 = data2.rename({'Employmentstatus':'Employment_status'})
data2 = data2.drop(['Unnamed:_0'],axis=1)

display(data2.columns)

Index(['Customer', 'State', 'Customer_lifetime_value', 'Response', 'Coverage',
       'Education', 'Effective_to_date', 'Employmentstatus', 'Gender',
       'Income', 'Location_code', 'Marital_status', 'Monthly_premium_auto',
       'Months_since_last_claim', 'Months_since_policy_inception',
       'Number_of_open_complaints', 'Number_of_policies', 'Policy_type',
       'Policy', 'Renew_offer_type', 'Sales_channel', 'Total_claim_amount',
       'Vehicle_class', 'Vehicle_size', 'Vehicle_type'],
      dtype='object')

In [5]:
data2.dtypes

Customer                                 object
State                                    object
Customer_lifetime_value                 float64
Response                                 object
Coverage                                 object
Education                                object
Effective_to_date                datetime64[ns]
Employmentstatus                         object
Gender                                   object
Income                                  float64
Location_code                            object
Marital_status                           object
Monthly_premium_auto                    float64
Months_since_last_claim                 float64
Months_since_policy_inception           float64
Number_of_open_complaints               float64
Number_of_policies                      float64
Policy_type                              object
Policy                                   object
Renew_offer_type                         object
Sales_channel                            object
Total_claim_amount                      float64
Vehicle_class                            object
Vehicle_size                             object
Vehicle_type                             object
dtype: object

In [6]:
data2.isna().sum()

Customer                            0
State                             631
Customer_lifetime_value             0
Response                          631
Coverage                            0
Education                           0
Effective_to_date                   0
Employmentstatus                    0
Gender                              0
Income                              0
Location_code                       0
Marital_status                      0
Monthly_premium_auto                0
Months_since_last_claim           633
Months_since_policy_inception       0
Number_of_open_complaints         633
Number_of_policies                  0
Policy_type                         0
Policy                              0
Renew_offer_type                    0
Sales_channel                       0
Total_claim_amount                  0
Vehicle_class                     622
Vehicle_size                      622
Vehicle_type                     5482
dtype: int64

In [7]:
data2['State'].value_counts(dropna=False)

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
NaN            631
Name: State, dtype: int64

In [8]:
data2['State']=data2['State'].fillna('California')
display(data2['State'].value_counts(dropna=False))

California    4183
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: State, dtype: int64

Because the states here are ojects so I just filled all the missing values with the mode - California.

In [9]:
data2['Months_since_last_claim'].value_counts(dropna=False)

NaN     633
3.0     426
6.0     394
1.0     386
7.0     378
4.0     373
2.0     368
5.0     355
0.0     354
10.0    346
16.0    333
11.0    331
15.0    323
13.0    320
8.0     315
12.0    307
17.0    299
14.0    299
9.0     277
19.0    276
23.0    276
25.0    269
21.0    267
18.0    257
20.0    254
22.0    246
24.0    237
29.0    234
28.0    227
31.0    221
26.0    211
27.0    208
30.0    201
34.0    199
33.0    198
35.0    157
32.0    155
Name: Months_since_last_claim, dtype: int64

In [10]:
data2=data2[(data2['Months_since_last_claim']<=24.0) | (data2['Response']=='Yes')]
display(data2['Months_since_last_claim'].value_counts(dropna=False))

3.0     426
6.0     394
1.0     386
7.0     378
4.0     373
2.0     368
5.0     355
0.0     354
10.0    346
16.0    333
11.0    331
15.0    323
13.0    320
8.0     315
12.0    307
17.0    299
14.0    299
9.0     277
19.0    276
23.0    276
21.0    267
18.0    257
20.0    254
22.0    246
24.0    237
NaN      78
25.0     45
28.0     38
34.0     30
29.0     27
31.0     25
35.0     24
33.0     18
30.0     18
32.0     18
27.0     12
26.0     12
Name: Months_since_last_claim, dtype: int64

All claims that were made more than 24 months ago and from cutomers who have not responsed yet are excluded due to their inactivity. The other Nah values are kept nevertheless.

In [11]:
data2['Number_of_open_complaints'].describe()

count    8264.000000
mean        0.386859
std         0.920816
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         5.000000
Name: Number_of_open_complaints, dtype: float64

In [12]:
data2['Number_of_open_complaints']=data2['Number_of_open_complaints'].fillna(data2['Number_of_open_complaints'].median())
display(data2['Number_of_open_complaints'].value_counts())

0.0    6648
1.0     904
2.0     326
3.0     273
4.0     133
5.0      58
Name: Number_of_open_complaints, dtype: int64

Based on the statistical outputs of the variable, the data follows the pattern of a positively-skewed distribution. That means, the mean value is greater than the median and the median is greater than the mode. So I replaced all the Nah values with the median value.

In [13]:
data2['Effective_month'] = data2['Effective_to_date'].dt.strftime('%B')
display(data2.head())
display(data2['Effective_month'].value_counts(dropna=False))

,Customer,State,Customer_lifetime_value,Response,Coverage,Education,Effective_to_date,Employmentstatus,Gender,Income,...,Number_of_policies,Policy_type,Policy,Renew_offer_type,Sales_channel,Total_claim_amount,Vehicle_class,Vehicle_size,Vehicle_type,Effective_month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029.0,...,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,February
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0.0,...,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,January
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078.0,...,2.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,January
5,HO81102,California,4745.181764,NaN,Basic,High School or Below,2011-02-14,Employed,M,50549.0,...,7.0,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A,February
6,IW72280,California,5035.035257,No,Basic,Doctor,2011-02-14,Employed,F,37405.0,...,4.0,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,NaN,February

January     4443
February    3899
Name: Effective_month, dtype: int64

No need to furthr filter as all the months recorded are in Q1.